APP_PORT=3000
TCP_PORT=3001

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=ms_auth_db

# Redis Configuration (For token blacklist and refresh tokens)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Configuration
JWT_ACCESS_SECRET=super_secret_access_key
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=super_secret_refresh_key
JWT_REFRESH_EXPIRES=7d

# Application Secret (Used for encrypting 2FA secrets in DB)
# Should be a strong, 32-character string
APP_SECRET=12345678901234567890123456789012
